version: "3.8"

services:
  # Base de datos MySQL
  efra-mysql:
    build:
      context: ./database
    container_name: efra-mysql
    environment:
      - MYSQL_DATABASE=contactform
      - MYSQL_USER=efra_user
      - MYSQL_PASSWORD=efra_password_123
      - MYSQL_ROOT_PASSWORD=root_password_123
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_logs:/var/log/mysql
    ports:
      - "3306:3306"
    networks:
      - contact-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "efra_user", "-pefra_password_123"]
      timeout: 10s
      retries: 5
      interval: 30s

  backend:
    build:
      context: ./Contactform
    container_name: contact-backend
    environment:
      - NODE_ENV=production
      - PORT=3025
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - JWT_SECRET=${JWT_SECRET}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET}
      - DB_HOST=efra-mysql
      - DB_PORT=3306
      - DB_DATABASE=contactform
      - DB_USERNAME=efra_user
      - DB_PASSWORD=efra_password_123
    ports:
      - "3278:3025"
    depends_on:
      efra-mysql:
        condition: service_healthy
    networks:
      - contact-network
    restart: unless-stopped

  frontend:
    build:
      context: ./FrontContactForm
      dockerfile: Dockerfile
      args:
        VITE_URL_API: https://3278.efdiaz.xyz
        VITE_EMAILJS_SERVICE_ID: ${VITE_EMAILJS_SERVICE_ID}
        VITE_EMAILJS_TEMPLATE_ID: ${VITE_EMAILJS_TEMPLATE_ID}
        VITE_EMAILJS_PUBLIC_KEY: ${VITE_EMAILJS_PUBLIC_KEY}
        VITE_RECAPTCHA_SITE_KEY: ${VITE_RECAPTCHA_SITE_KEY}
    container_name: contact-frontend
    ports:
      - "3137:3137"  # Puerto 3137 para acceso web
    depends_on:
      - backend
    networks:
      - contact-network
    restart: unless-stopped

volumes:
  mysql_data:
    driver: local
  mysql_logs:
    driver: local

networks:
  contact-network:
    driver: bridge
